<div class="content-section">
  <div class="content-section__primary">
    {{ primary }}
  </div>
  {% if secondary %}
  <div class="content-section__secondary">
    {{ secondary }}
  </div>
  {% endif %}
</div>
