<div class="panel" id="{{ id }}">
  {% if title %}
    <div class="panel__header">
      <h3 class="panel__title">{{ title }}</h3>
    </div>
  {% endif %}
  <div class="panel__body">
    {{ content }}
  </div>
</div>
